.home
{
    padding: 0px 10px ;
    padding-bottom: 100px;
}
.hero{
    max-width: 600px;
    margin: 80px  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1{
    font-size: max(4vw,36px);

}
.hero p{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form{
     padding: 8px;
     width : 80%;
     background-color: white;
     border-radius: 5px;
     font-size: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;

}

.hero input{
    border: none;
    outline: none;
    flex-grow: 1;
    padding-left: 10px;
}

.hero button{
    border: none;
    background: #0979ca;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: antiquewhite;

}

.cryptotable{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(to bottom, #F5F7FA, #E4E9F2);
    color: #1E2A38;  /* Dark text for contrast */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.tablelayout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center !important;
    border-bottom: 2px solid #05689a !important;
}
.marketcap{
    text-align: right;
}